@import "reset.css"; /* 맞나? */
@import "../pages/login/login.css";

:root {
    --main-color: #FFFFFF;
    --main-text-color: #555555;
    --sub-text-color: #ABABAB;
	--error-message-color: #E93842;

	--accept-button-color: #6ED087;
	--refuse-button-color: #FF897D;

    overflow: hidden;
}

body {
    background-image: url(../assets/images/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
}