html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, form {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 방문한 링크 */
a:visited {
    color: inherit; /* 방문한 링크의 색상도 기본 색상으로 설정 */
}

/* 링크에 마우스를 올렸을 때 */
a:hover {
    color: inherit; /* 호버 상태에서도 색상 변경 없음 */
    text-decoration: none; /* 호버 상태에서도 밑줄 제거 */
}

/* 클릭된 링크 */
a:active {
    color: inherit; /* 클릭 상태에서도 색상 변경 없음 */
    text-decoration: none; /* 클릭 상태에서도 밑줄 제거 */
}

input:valid, input:invalid, input:focus {
    border-color: initial; /* 입력이 유효하거나 유효하지 않을 때도 테두리 색상 유지 */
    box-shadow: none; /* 그림자 제거 */
}

/* 기본 스타일 리셋 */
input {
    border: none; /* 기본 테두리 제거 */
    outline: none; /* 기본 테두리 제거 */
    box-shadow: none; /* 기본 그림자 제거 */
}
