.nav-container {
    height: 100vh;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.1);

    padding: 5% 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;

    text-align: center;
}

.nav-profile {
    text-align: center;
}

#nav-profile__img {
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, .1);
    object-fit: cover;
}

.nav-profile__info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}

#nav-profile__info__tier {
    width: 8%;
    box-shadow: none;
}

.nav-profile__info span{
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 15%;
    margin-bottom: 15%;
}

nav a {
    border-radius: 15px;
    width: 10vw;
    height: 7vh;
    border: 1px solid var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.nav__select {
    background-color: var(--main-color);
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, .1);
}

.nav__select span{
    color: var(--main-text-color);
}

a span {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

#nav__logout {
    width: 6%;
    cursor: pointer;
    opacity: 50%;
}

#nav__friend {
    position: relative;
}

.notification-wrapper {
    position: absolute;
    top: -18px;
    right: -18px;
    display: flex;
    align-items: center;
    visibility: hidden; 
}

#notification-bell {
    width: 50px;
    height: 50px;
    display: none; 
}

.notification-popup {
    visibility: hidden; 
    background-color: rgba(255, 0, 0, 0.4);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    white-space: nowrap;
    position: absolute;
    top: 5px;
    left: 40px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.notification-wrapper:hover .notification-popup {
    visibility: visible;
    opacity: 1;
}

#nav__friend.has-notification .notification-wrapper {
    visibility: visible;
}

#nav__friend.has-notification #notification-bell {
    display: block; 
}