header {
    display: none;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-box {
    display: flex;
    background-color: var(--main-color);
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.18);
    width: 38vw;
    height: 70vh;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box h1 {
    color: var(--main-color);
    font-size: 3.2vw;
    font-weight: 650;
    margin-bottom: 8vh;
}

.text-box {
    margin-bottom: 1vh;
}

.password-box {
    margin-bottom: 2vh;
}

.text-box input {
    border: none;
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 15px;
    width: 24vw;
    height: 7vh;
    padding: 0 30px;
}

.text-box input::placeholder {
    color: var(--sub-text-color);
    font-size: 1.2vw;
}

.button-box {
    display: flex;
    justify-content: space-between;
    width: 26.4vw;
    margin-bottom: 4vh;
}

.btn {
    background-color: var(--main-color);
    border: none;
    border-radius: 15px;
    width: 12.5vw;
    height: 7vh;
    font-size: 1.2vw;
    font-weight: 600;
    color: var(--main-text-color);
    cursor: pointer;
}

.start-with {
    display: flex;
    align-items: center;
}

.start-with p {
    color: var(--main-color);
    margin: 0;
    margin-right: 1vw;
    font-size: 1.2vw;
    font-weight: 500;
}

.start-image {
    width: 3vw;
    height: auto;
}
