header {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 로그인 박스 스타일 */
.login-container {
    width: 40vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.2); /* 반투명 흰색 배경 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.login-container h1 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.2);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #f0f0f0;
}

/* 로고 스타일 */
.logo {
    width: 40px;
    height: auto;
    vertical-align: middle;
}
