header {
    display: none;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 40vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-container h1 {
    color: var(--main-color);
    font-size: 40px;
    margin-bottom: 5vh;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 10px;
    width: 28vw;
    height: 8vh;
    margin-bottom: 1vh;
}

.login-container input::placeholder {
    color: var(--sub-text-color);
    font-size: 1.2vw;
}


.buttons {
    display: flex;
    justify-content: space-between;
    width: 28vw;
}

.buttons button {
    width: 13vw;
    height: 8vh;
    font-size: 1.2vw;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.buttons button:hover {
    background-color: #f0f0f0;
}


.logo {
    width: 40px;
    height: auto;
    vertical-align: middle;
}
