#scoreboard {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 5%;
    color: var(--main-color);
    font-size: 26px;
    z-index: 10;

    box-sizing: border-box;
    padding: 0 1%;
}

.scoreboard__userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.player_nickname {
    text-align: center;
    height: 80%;
    flex: 1.5;
    border-radius: 20px;
    font-weight: 500;
    background-color: var(--main-color);
    color: #9CD3E7;
    padding-top: 6%;
}

.player_score {
    flex: 1;
    font-size: 40px;
    font-weight: 600;
}

#player1_score {
    text-align: right;
}

#player2_score {
    text-align: left;
}

.game-div {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}
