/* 전체 페이지 스타일 */

.two-factor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2FA 박스 스타일 */
.two-fa-container {
    width: 40vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.2); /* 반투명 흰색 배경 */
    padding: 20px;
    border-radius: 35px;
    text-align: center;
}

.two-fa-container h1 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 600;
	margin-top: 100px;
    margin-bottom: 100px;
}

.two-fa-inputs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.input-group {
    display: flex;
    gap: 5px;
}

.two-fa-inputs input {
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.two-fa-container button {
	width: 240px;
    height: 80px;
    padding: 12px;
    font-size: 22px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.two-fa-container button:hover {
    background-color: #f0f0f0;
}
