/* 전체 페이지 스타일 */

.two-factor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2FA 박스 스타일 */
.two-fa-container {
    width: 38vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.3); /* 반투명 흰색 배경 */
    /* padding: 5%; */
    border-radius: 5%;
    text-align: center;
}

.two-fa-container h1 {
    color: var(--main-color);
    font-size: 500%;
    font-weight: 600;
	margin-top: 12vh;
    margin-bottom: 12vh;
}

.two-fa-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.input-group {
    display: flex;
    gap: 10px;
	justify-content: center;
}

.two-fa-inputs input {
    width: 25%;
    margin-right: 2%;
    height: 9vh;
    font-size: 60px;
	color: var(--main-text-color);
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;

}

.two-fa-container button {
	width: 12vw;
    height: 8vh;
    padding: 12px;
    font-size: 32px;
	font-weight: 600;
	color: var(--main-text-color);
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;

}
.two-fa-container button:hover {
	border: 3px solid var(--main-text-color);
}

