
.request-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255,255,255, 0.4);
    width: 35vw;
    height: 8vh;
    border-radius: 20px;

    transition: border 0.3s ease;
    box-sizing: border-box;

    margin-bottom: 0.5vh;
}

.request-container:hover {
    background-color: rgba(255,255,255, 0.7);
    /* border: 5px solid var(--refuse-button-color); */
    border: 5px solid var(--sub-text-color);
}

.request-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 70%;
}

.profile-image {
    border-radius: 50%;

    width: 55px;
    height: 55px;

    margin-right: 1vw;
}

.nickname {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 1.2vw;

    margin-right: 0.5vw;
}

.online-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--accept-button-color);

    margin-right: 9vw;
}

.request-accept-btn {
    border: 3px solid var(--main-color);

    width: 4.5vw;
    height: 5vh;
    border-radius: 20px;
    cursor: pointer;

    margin-right: 1vw;
}

.accept-text {
    color: var(--sub-text-color);
    font-weight: 500;
    font-size: 1vw;
}

.request-refuse-btn {
    border: 3px solid var(--main-color);

    width: 4.5vw;
    height: 5vh;
    border-radius: 20px;
    cursor: pointer;

    margin-left: auto;
}

.refuse-text {
    color: var(--sub-text-color);
    font-weight: 500;
    font-size: 1vw;
}

