/* 전체 페이지 스타일 */
.signup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 회원가입 박스 스타일 */
.signup-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    width: 38vw;
    height: 70vh;
    border-radius: 5%;
    text-align: left;
}

.signup-contents
{
    width: 80%;
    margin-top: 7%;
    margin-right: 10%;
    margin-left: 10%;
}

.signup-contents input::placeholder {
    font-size: 80%;
    font-weight: 600;
    color: var(--main-text-color);
    opacity: 0.6; /* placeholder 텍스트 투명도 */
}

.signup-container h1 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 7%;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-container label {
    text-align: left;
    font-size: 15px;
    margin-bottom: 2px;
    color: var(--main-text-color);
}

.signup-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    height: 50px;
    color: var(--main-text-color);
    padding-left: 25px;
}

.signup-container button {
    padding: 12px;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    height: 80px;
    
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: 600;
}

.form-error {
    border: 1px solid var(--error-message-color) !important;
}

.form-error-label {
    color: var(--error-message-color) !important;
}
