/* 전체 페이지 스타일 */
.signup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 회원가입 박스 스타일 */
.signup-container {
    background-color: rgba(255, 255, 255, 0.3); /* 반투명 흰색 배경 */
    /* padding: 30px; */
    border-radius: 10px;
    text-align: center;
    width: 38vw;
    height: 70vh;
    border-radius: 5%;
    text-align: left;
    /* margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%; */
}

.signup-contents
{
    width: 80%;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;

}

.signup-contents input::placeholder {
    font-size: 80%; /* placeholder 폰트 크기를 줄임 */
    font-weight: 600;
    color: var(--main-text-color); /* placeholder 텍스트 색상 */
    opacity: 0.6; /* placeholder 텍스트 투명도 */
}

.signup-container h1 {
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 20px;
    font-style: bold;
    margin-bottom: 7%;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-container label {
    text-align: left;
    font-size: 15px;
    margin-bottom: 2px;
    color: var(--main-color);
}

.signup-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--main-color);
    height: 50px;
    color: var(--main-text-color);
}

.signup-container button {
    padding: 12px;
    font-size: 24px;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    height: 80px;
}

.signup-container button:hover {
    background-color: #f0f0f0;
}
