.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-box {
    background-color: var(--main-color);
    border: none;
    width: 30vw;
    height: 30vh;
    border-radius: 20px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tournament-box {
    height: 45vh;
}

.signup-image {
    width: 5vw;
    margin-bottom: 3vh;
}

.message {
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2.5vh;
}

.close {
    position: absolute;
    top: 1vh;
    right: 0.8vw;

    color: var(--sub-text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--main-text-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-confirm-btn {
    background-color: var(--main-color);
    color: var(--refuse-button-color);
    border: none;
    border-radius: 15px;
    padding: 1vh 2vw;

    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--refuse-button-color);

    width: 25%;
    height: 15%;
}

.modal-confirm-btn:hover,
.modal-confirm-btn:focus {
    background-color: var(--refuse-button-color);
    color: var(--main-color);
    outline: none;
}

#new_nickname_inputbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new_nickname {
    width: 150%;
    height: 6vh;
    border-radius: 15px;
    background-color: rgba(171,171,171, 0.2);

    font-size: 18px;
    color: var(--main-text-color);

    box-sizing: border-box;
    padding: 0 1.5vw;
}

#newnickname-error-message {
    color: var(--refuse-button-color);
    margin-top: 5px;
}

#nickname-change-btn {
    width: 80%;
    height: 5vh;
    padding: 1vh 1vw;
    margin-top: 3vh;
}

#tournamentResult__title {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-text-color);
}

#tournamentResult {
    width: 100%;
    height: 55%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    margin: 3% 0;
    gap: 2%;
}

.tournamentResult__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;

    padding: 5% 0;

    color: var(--main-text-color);
    background-color: rgba(171,171,171, 0.2);
}

#tournamentResult--1 {
    height: 100%;
    width: 30%;
}

#tournamentResult--1 img{
    width: 60%;
    margin-bottom: 25%;
}

#tournamentResult--1 div{
    font-size: 24px;
    font-weight: 600;
}

#tournamentResult--2 {
    height: 80%;
    width: 25%;
}

#tournamentResult--2 img{
    width: 55%;
    margin-bottom: 20%;
}

#tournamentResult--2 div{
    font-size: 20px;
    font-weight: 550;
    color: rgba(85, 85, 85, 0.8);
}

#tournamentResult--3 {
    height: 65%;
    width: 25%;
}

#tournamentResult--3 img{
    width: 40%;
    margin-bottom: 10%;
}

#tournamentResult--3 div{
    font-size: 16px;
    font-weight: 450;
    color: rgba(85, 85, 85, 0.6);
}

#tournamentResult--3--first {
    margin-bottom: 2%;
}

#tournamentResult-confirm-btn {
    height: 12%;
}