.game-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.3); /* 반투명 흰색 배경 */
    border-radius: 5%;
    text-align: center;
}

.vs-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    font-size: 4rem; /* VS 텍스트 크기 조정 */
    font-weight: bold;
}

.invite-btn, .random-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 15vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0);;
    border: none;
    border-radius: 20px;
    color: var(--main-text-color);
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;
}

.invite-btn:hover, .random-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);;
    /* color: var(--sub-text-color); */
}

.opponent-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 배경 */
    border-radius: 5%;
    text-align: center;
    justify-content: center;
    position: relative; /* 자식 요소에 대해 절대 위치를 설정하기 위해 relative로 설정 */
}

.friend-modal {
    margin-right: 7%;
    display: none; /* 기본적으로는 숨김 */
    position: absolute; /* opponent-info 내부에 절대 위치로 설정 */
    top: 0; /* opponent-info의 상단에 위치 */
    left: 0; /* opponent-info의 왼쪽에 위치 */
    width: 92%; /* opponent-info의 너비를 가득 채움 */
    height: 94%; /* opponent-info의 높이를 가득 채움 */
    background-color: rgba(255, 255, 255, 1); /* 반투명 흰색 배경 */
    border-radius: 5%; /* 모서리 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* 스크롤이 가능하도록 설정 */
    z-index: 1000;
    padding: 20px;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.friend-modal.active {
    display: block; /* 모달이 활성화되면 보이도록 설정 */
}

.friend-list {
    list-style: none;
    padding: 0;
    margin-top: 10%;
}

.friend-list li {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
