
.list-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255,255,255, 0.4);
    height: 8vh;
    border-radius: 20px;

    margin-bottom: 1vh;
    /* transition: border 0.3s ease; */
    box-sizing: border-box;
    cursor: pointer;
}

.list-container:hover {
    background-color: rgba(255,255,255, 0.8);
    border: 3px solid var(--accept-button-color);
}

.list-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 90%;
    height: 70%;
}

.list-profile-image {
    border-radius: 50%;

    width: 55px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    margin-left: 1vw;
    margin-right: 2vw;
}

.name-status {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 70%;
}

.list-nickname {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 1.2vw;

    margin-right: 1vw;
    cursor: pointer;
}

.list-online-status.true{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--accept-button-color);
}

.list-online-status.false{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--refuse-button-color);
}

.message-status {
    color: rgba(110,208,135, 0.7);
    margin-left: 1vw;
    font-weight: bold;
}

.block-none {
    display: none;

    cursor: pointer;
    color: var(--sub-text-color);
}

.list-container.blocked .block-none {
    display: block;
}
