/* .offline-game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
} */

.offline-player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    width: 15.5vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 배경 */
    border-radius: 5%;
    text-align: center;
    justify-content: center;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, .1);

}

.offline-player-img {
    width: 60%;
    border-radius: 50%;
    margin-bottom: 10%;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, .1);
}

.offline-player-nickname {
    height: 10%;
    width: 55%;
    border: 2px solid rgba(100, 100, 100, 0.2) !important;
    border-radius: 10px; /* 테두리 둥글게 */
    background-color: rgba(255, 255, 255, 0.1); /* 반투명 흰색 배경 */
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-text-color);
    margin-top: 10%;


}

.offline-player-nickname::placeholder {
    font-size: 15px;
    color: rgba(109, 109, 109, 0.5); /* 원하는 색상으로 변경 */
}